<footer class="page-footer font-small pt-4" style="background-color: #ec9dbb;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class=text-white>Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/Jaqueline-Ferreira" target="_blank" rel="github">
                            <img src="BlogPessoal/src/assets/github-brands.svg" class="icone-github mt-2 mb-2" alt="ícone do github">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/jaqueline-ferreira-484403210/" target="_blank" class="icoLinkedin">
                            <img src="BlogPessoal/src/assets/linkedin-brands.svg" class="icone-linkedin mt-2 mb-2" alt="ícone do linkedin">   
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</footer>
