<footer class="page-footer font-small pt-4" style="background-color: #ec9dbb;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class=text-white>SIga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/Jaqueline-Ferreira" target="_blank" class="icoGithub">
                        
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>
