#img-bg{
    background-image: url(https://i.pinimg.com/564x/81/c5/1f/81c51f0161e73aad67d2686a810ef6f8.jpg);
    min-height: 695px;
    background-repeat: no-repeat;
    background-size: cover;
}


.botaolog {
    font-family: adam;
    border: none;
    background: rgba(241, 108, 137, 0.938);
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    color: rgb(44, 40, 28);
    margin-left: -10px;
    box-shadow: 0 3px 6px 0 rgba(241, 235, 235, 0.945);

 }

 